body {
    font-family: Arial, sans-serif;
    background: #f4f6f5;
    margin: 0;
}

header {
    background: #B11226;
    color: white;
    padding: 15px;
    text-align: center;
}

header img {
    width: 80px;
    display: block;
    margin: 0 auto 10px;
}

.container {
    background: white;
    width: 350px;
    margin: 80px auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #B11226;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    background: #B11226;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background: #8e0f1e;
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #B11226;
    font-weight: bold;
}

table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
}

th {
    background: #B11226;
    color: white;
}

td, th {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}
