* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

/* MAIN LAYOUT */
.main-layout {
    display: flex;
    height: 100vh;
}

/* LEFT PANEL */
.left-panel {
    width: 55%;
    background: white;
    padding: 80px;
}

.left-panel h1 {
    color: #B11226;
}

.subtitle {
    color: #555;
    margin-bottom: 30px;
}

/* RIGHT PANEL */
.right-panel {
    width: 45%;
    background: #B11226;
    color: white;
    padding: 80px;
    text-align: center;
}

.right-panel img {
    width: 180px;
    margin-bottom: 20px;
}

/* FORM */
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    width: 100%;
    background: #B11226;
    color: white;
    padding: 12px;
    border: none;
    margin-top: 25px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background: #8e0f1e;
}

a {
    display: block;
    margin-top: 20px;
    color: #B11226;
    font-weight: bold;
    text-decoration: none;
}

#error, #bookingMsg {
    margin-top: 15px;
    font-weight: bold;
}
