* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #f5f5f5;
}

/* HEADER */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #B11226;
    color: white;
    padding: 15px 30px;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.left-header img {
    width: 60px;
}

.left-header h1 {
    margin: 0;
    font-size: 20px;
}

.right-header {
    text-align: right;
    font-size: 13px;
}

.right-header p {
    margin: 2px 0;
}

/* CARD */
.container {
    background: white;
    width: 380px;
    margin: 60px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

h2 {
    text-align: center;
    color: #B11226;
}

/* FORM */
label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 100%;
    background: #B11226;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background: #8e0f1e;
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #B11226;
    font-weight: bold;
    text-decoration: none;
}

#bookingMsg, #error {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}
